---

---

<div>
  <div class="flex flex-col text-center md:text-start">
    <h1 class="md:text-[39px] text-[34px] font-black mx-auto">
      <span class="dark:bg-white dark:text-black rounded-xl px-4 py-1"
        >Redefining</span
      > the Meaning of Marketing
    </h1>
    <p class="text-center mx-auto text-[17px] my-4 md:w-3/5">
      From standout marketing assets to high-performing campaigns and landing
      pages, see how we bring ideas to life.
    </p>
    <a
      class="mx-auto dark:bg-white dark:text-black rounded-3xl mt-2 text-[17px] px-5 py-2"
      href="http://">More Project</a
    >
  </div>

  <div
    class="grid md:grid-cols-3 grid-cols-1 md:gap-7 gap-y-5 md:gap-y-0 mt-16"
  >
    <div class="bg-[#111111] rounded-2xl">
      <img class="h-60 w-full" src="/HeroStats02.avif" alt="herostats" />
      <div class="pb-20">
        <ul class="grid grid-cols-2 mt-10 mb-7 text-sm md:mx-10 mx-4">
          <li class="rounded-2xl w-fit px-3 py-1 border border-gray-700">
            Email Marketing
          </li>
          <li class="rounded-2xl w-fit px-3 py-1 border border-gray-700">
            Social Media
          </li>
        </ul>
        <h2 class="text-2xl font-bold md:w-4/5 w-[90%] mx-auto mt-2">
          Enhancing Social Media Presence for an NGO
        </h2>
        <p class="text-[17px] md:w-4/5 w-[90%] mx-auto mt-3">
          Elevating the online presence of an NGO with a community-focused
          social media strategy.
        </p>
      </div>
    </div>
    <div class="bg-[#111111] rounded-2xl">
      <img class="h-60 w-full" src="/HeroStats02.avif" alt="herostats" />
      <div class="pb-20">
        <ul class="grid grid-cols-2 mt-10 mb-7 text-sm md:mx-10 mx-4">
          <li class="rounded-2xl w-fit px-3 py-1 border border-gray-700">
            Email Marketing
          </li>
          <li class="rounded-2xl w-fit px-3 py-1 border border-gray-700">
            Social Media
          </li>
        </ul>
        <h2 class="text-2xl font-bold md:w-4/5 w-[90%] mx-auto mt-2">
          Enhancing Social Media Presence for an NGO
        </h2>
        <p class="text-[17px] md:w-4/5 w-[90%] mx-auto mt-3">
          Elevating the online presence of an NGO with a community-focused
          social media strategy.
        </p>
      </div>
    </div>
    <div class="bg-[#111111] rounded-2xl">
      <img class="h-60 w-full" src="/HeroStats02.avif" alt="herostats" />
      <div class="pb-20">
        <ul class="grid grid-cols-2 mt-10 mb-7 text-sm md:mx-10 mx-4">
          <li class="rounded-2xl w-fit px-3 py-1 border border-gray-700">
            Email Marketing
          </li>
          <li class="rounded-2xl w-fit px-3 py-1 border border-gray-700">
            Social Media
          </li>
        </ul>
        <h2 class="text-2xl font-bold md:w-4/5 w-[90%] mx-auto mt-2">
          Enhancing Social Media Presence for an NGO
        </h2>
        <p class="text-[17px] md:w-4/5 w-[90%] mx-auto mt-3">
          Elevating the online presence of an NGO with a community-focused
          social media strategy.
        </p>
      </div>
    </div>
  </div>
</div>
