<div class="min-h-screen bg-[#111111] flex lg:flex-row flex-col justify-around md:pt-14 pt-7 rounded-2xl pb-10 md:pb-20">
  <h1 class="md:text-[39px] text-[34px] w-4/5 ml-4 md:ml-0 md:px-0 font-black lg:w-1/4">
    <span class="bg-white text-black rounded-xl px-4 py-1"
      >Services</span
    > that cover all Bases
  </h1>
  <ul class="lg:text-7xl md:text-6xl text-[28px] px-4 font-black uppercase text-[#b3b3b3]">
    <li
      class="mt-10 hover:bg-white hover:text-black hover:translate-x-4 md:hover:translate-x-6 py-6 px-4 hover:rounded-2xl transition-all duration-200 ease-in-out"
    >
      Email Marketing
    </li>
    <li
      class="my-10 hover:bg-white hover:text-black hover:translate-x-4 md:hover:translate-x-6 py-6 px-4 hover:rounded-2xl transition-all duration-200 ease-in-out"
    >
      Social Media
    </li>
    <li
      class="hover:bg-white hover:text-black hover:translate-x-4 md:hover:translate-x-6 py-6 px-4 hover:rounded-2xl transition-all duration-200 ease-in-out"
    >
      SEO Services
    </li>
    <li
      class="my-10 hover:bg-white hover:text-black hover:translate-x-4 md:hover:translate-x-6 py-6 px-4 hover:rounded-2xl transition-all duration-200 ease-in-out"
    >
      Content Creation
    </li>
    <li
      class="hover:bg-white hover:text-black hover:translate-x-4 md:hover:translate-x-6 py-6 px-4 hover:rounded-2xl transition-all duration-200 ease-in-out"
    >
      Digital Marketing
    </li>
    <li
      class="my-10 hover:bg-white hover:text-black hover:translate-x-4 md:hover:translate-x-6 py-6 px-4 hover:rounded-2xl transition-all duration-200 ease-in-out"
    >
      Brand Strategy
    </li>
  </ul>
</div>
